@using MVCPresentationLayer.Models
@model LoginViewModel
@{
    ViewBag.Title = "Welcome - YEKOLA CONGO";
}

<div class="jumbotron">
    <div class="page-header">
        <h1>Yekola Congo</h1>
    </div>
    
    <p>
        This is a program that tests you on your general knowledge in Congo Affairs
    </p>

    @Html.ActionLink("Go to Main Quiz", "Index", "Quiz")

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}