@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Submit";
}





<div class="jumbotron">
    <div class="page-header">
        <h1>Thank You.</h1>
    </div>

    <p>Your Grades shall be emailed to you</p>

</div>



