@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="alert alert-danger" role="alert">
    <p>You haven't passed your exams. You won't play</p>
    @Html.ActionLink("Go Back To Summary", "Index", "Quiz" ,null, new { @class="alert-link"})
</div>

