@model IEnumerable<DataObjects.PlayerLevelCategory>

@{
    ViewBag.Title = "Main Quiz";
}

<ul>
    @foreach (var a in Model)
    {       
        var myVal = a.Unlocked == false ? "Incomplete" : "Complete";
        <li>@Html.ActionLink(@a.Level + " " + myVal, "MainQuiz", "Quiz", new {a.LevelId}, null)</li>
    }
</ul>