@model IEnumerable<DataObjects.QuestionViewModel>

@{
    ViewBag.Title = "MainQuiz";
}

<h2>MainQuiz</h2>

<p>Welcome @User.Identity.Name</p>


@foreach (var a in Model)
{
    <hr/>
    @Html.Partial("_QuestionPartial", a)
    <hr/>
}